/* style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* wrapper */
.wrapper {
  background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #FDB931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/* header */
.header {
  display: flex;
  align-items: center;
}

.title-h1 {
  margin: 5px 0 0;
  font-size: 18px;
  color: rgb(56, 55, 55);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-block: 5px;
}

.footer a {
  font-size: 16px;
  text-decoration: none;
  color: rgb(56, 55, 55);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.footer a:hover {
  text-decoration: underline;
  color: rgb(243, 247, 14);
}

.time {
  font-size: 16px;
  color: rgb(56, 55, 55);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.rslogo .rslogo-img {
  width: 80px;
  height: 30px;
}

/* player */
.player-wrapper {
  max-width: 390px;
  width: 100%;
  border-radius: 20px;
  padding: 25px;
  background: linear-gradient(45deg, rgb(37, 37, 36) 18%, rgb(141, 142, 133) 75%);
  box-shadow: 1px 1px 21px 7px rgba(97, 178, 240, 0.49);
}
.player-wrapper .cover {
  display: flex;
  justify-content: center;
}
.player-wrapper .cover .cover-img {
  width: 340px;
  border-radius: 15px;
  box-shadow: 1px 1px 21px -5px rgba(220, 236, 82, 0.49);
}
.player-wrapper .song-artist {
  display: flex;
  justify-content: center;
}
.player-wrapper .song-name {
  display: flex;
  justify-content: center;
}
.player-wrapper .time-wrapper {
  display: flex;
  justify-content: space-between;
}
.player-wrapper .buttons {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.player-wrapper .buttons .btn-prev .prev {
  width: 40px;
  height: 40px;
  filter: invert(1) drop-shadow(0 0 0.75rem rgb(243, 247, 14));
  cursor: pointer;
}
.player-wrapper .buttons .btn-prev .prev:hover {
  opacity: 0.5;
}
.player-wrapper .buttons .btn-play .play {
  width: 60px;
  height: 60px;
  filter: invert(1) drop-shadow(0 0 0.75rem rgb(243, 247, 14));
  cursor: pointer;
}
.player-wrapper .buttons .btn-play .play:hover {
  opacity: 0.5;
}
.player-wrapper .buttons .btn-next .next {
  width: 40px;
  height: 40px;
  filter: invert(1) drop-shadow(0 0 0.75rem rgb(243, 247, 14));
  cursor: pointer;
}
.player-wrapper .buttons .btn-next .next:hover {
  opacity: 0.5;
}
.player-wrapper .song-artist {
  margin-top: 20px;
  font-size: 26px;
  color: rgb(223, 216, 179);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.player-wrapper .song-name {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(201, 233, 18, 0.49);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.player-wrapper .time-wrapper {
  margin: 10px 0;
}
.player-wrapper .time-wrapper .time-current {
  font-size: 14px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.player-wrapper .time-wrapper .time-total {
  font-size: 14px;
  color: rgb(192, 188, 188);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.player-wrapper .progress-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 1px 15px 4px rgba(97, 178, 240, 0.49);
  cursor: pointer;
}
.player-wrapper .progress-bar .progress {
  height: 8px;
  border-radius: 10px;
  background: gray;
  transition: all 0.3s linear 0s;
}/*# sourceMappingURL=style.css.map */